user {{ webserver_nginx_user }};
worker_processes {{ webserver_worker_processes | default('auto') }};
pid {{  webserver_nginx_pidfile }};
error_log {{  webserver_nginx_log_dir }}/error.log;
include /etc/nginx/modules-enabled/*.conf;

{% block events %}
events {
	worker_connections 768;
}
{% endblock %}

{% block http %}
http {

	##
	# Basic Settings
	##

	sendfile on;
	tcp_nopush on;
	types_hash_max_size 2048;
	# server_tokens off;

	# server_names_hash_bucket_size 64;
	# server_name_in_redirect off;

	include /etc/nginx/mime.types;
	default_type application/octet-stream;

	##
	# SSL Settings
	##

	ssl_protocols TLSv1 TLSv1.1 TLSv1.2 TLSv1.3; # Dropping SSLv3, ref: POODLE
	ssl_prefer_server_ciphers on;

	##
	# Logging Settings
	##

	access_log  {{  webserver_nginx_log_dir }}/access.log;

	##
	# Gzip Settings
	##
	gzip on;
	##
	# Virtual Host Configs
	##
	include {{  webserver_nginx_conf_path }}/*.conf;
	include {{  webserver_nginx_sites_enabled }}/*;
}

{% endblock %}