
server {

    listen {{ nginx_port }};

    # Define root directory for static files (change as needed)
    root {{ nginx_root_folder }};
    index index.html;

    server_name localhost;

    access_log {{ nginx_log_dir }}/access.log;
    error_log {{ nginx_log_dir }}/error.log;

    location / {
        try_files $uri $uri/ =404;
    }
}
